.cart-icon {
    position: fixed;
    right: 100px;
    top: 20px;
    width: 40px;
    cursor: pointer;
}

.notification {
    position: fixed;
    top: -40px;
    left: 50%;
    padding: 10px;
    margin-left: -30px;
    opacity: 0;
    display: block;
    background: #eae;
    color: #000;
    z-index: 100;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 1em gray;

    &.visible {
        top: 50px;
        opacity: 1;
    }
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}